body {
  -webkit-animation: fadein 1s;
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

*, body, div {
  font-family: 'Lato', 'Helvetica';
  font-weight: 300;
  font-size: 1.1em;
  color: #444;
}
body {
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #ddd;
}

.titlebar {
  height: 45px;
  padding-top:10px;
  text-align: center;
  background-color: #eee;
  border-bottom: solid 1.5px #aaa;
}

.titlebar a {
  font-weight: 300;
  font-size:.7em;
  padding-top:5px;
}

.titlebar a.right {
  float:right;
}

.titlebar a.left {
  float:left;
}

.titlebar a.quit i {
  color: #ff4136 !important;
}

.titlebar a.minus i {
  color: #ffba00 !important;
}

.x-titlebar em {
  padding-right: 28px;
  background: url("../img/logo@18x22.png") no-repeat right 4px;
  
}

.content, .content-index {
  padding: 0 10px 10px 10px;
  font-size: 1em;
}

.content > div {
  border-bottom: solid 1px #eee;
  padding: 10px 0;
}

.content > p {
  padding: 10px 0;
}

.content .import-success, .content .import-success a {
  font-size:.9em;
}

.status {
  display: none;
}

.status ul {
  list-style-type:none;
  padding:0;
  margin:20px 0 0;
  font-size:.8em;
}

.status ul li {
  font-size:.9em;
  padding:0;
  margin:0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status ul li .destination {
  width: 100%;
  font-size: .75em;
  padding-top: 0;
}

.preview {
  position: relative;
  padding: 20px 0;
}

.preview .center-cropped {
  display: inline-block;
  border-radius: 2px;
  border: solid 1px #ddd;
  margin: 1px;
  width: 42px;
  height: 42px;
  background-position: center center;
  background-size: cover;
}

.preview .center-cropped.video:before {
  font-family: "elodie";
  color: #eee;
  content: '\e805';
  position: absolute;
  margin-top: 6px;
  margin-left: 8px;
  font-size: 1.5em;
}

i {
  color: #555;
}

i.icon-happy {
  color: #6cc644;
}

i.icon-unhappy {
  color: #bd2c00;
}

label {
  font-size: .9em;
  font-weight: 300;
  display: block;
  padding-bottom:3px;
}

input, button { 
  font-family: 'Lato', 'Helvetica';
  font-weight: 300;
  font-size: .9em;
  color: #666;
  border: solid 1px #eee;
  border-radius: 3px;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
  padding: 4px;
  width: 100%;
}

input[type="file"] {
  height:0px;
  width:0px;
  overflow:hidden;
  display:none;
}

button {
  cursor: pointer;
  background-color: #eee;
  padding: 4px 10px;
  margin-top: 10px;
}

small {
  font-size:.7em;
}
