* {
  font-family: 'Lato', 'Helvetica';
  font-weight: 300;
  font-size: 1.1em;
  color: #444;
}
body {
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #ddd;
}

.titlebar {
  height: 30px;
  padding-top:10px;
  text-align: center;
  background-color: #eee;
  border-bottom: solid 1.5px #aaa;
}

.content {
  padding: 0 10px 10px 10px;
}

.content > div {
  border-bottom: solid 1px #eee;
  padding: 10px 0;
}

.status {
  display: none;
}

.status ul {
  list-style-type:none;
  padding:0;
  margin:20px 0 0;
  font-size:.8em;
}

.status ul li {
  padding:0;
  margin:0 0 10px;
}

.status ul li .destination {
  width: 100%;
  font-size: .75em;
  padding-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview {
  position: relative;
  padding: 20px 0;
}

.preview .center-cropped {
  display: inline-block;
  border-radius: 2px;
  border: solid 1px #ddd;
  margin: 1px;
  width: 42px;
  height: 42px;
  background-position: center center;
  background-size: cover;
}

.preview .center-cropped.video:before {
  font-family: "elodie";
  color: #eee;
  content: '\e805';
  position: absolute;
  margin-top: 6px;
  margin-left: 8px;
  font-size: 1.5em;
}

i {
  color: #555;
}

i.icon-happy {
  color: #6cc644;
}

i.icon-unhappy {
  color: #bd2c00;
}

label {
  display: block;
  padding-bottom:3px;
}

input, button { 
  font-family: 'Lato', 'Helvetica';
  font-size: 1.1em;
  color: #666;
  border: solid 1px #eee;
  border-radius: 3px;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
  padding: 4px;
  width: 250px;
}

button {
  background-color: #eee;
  padding: 4px 10px;
  color:
}
